/**
* InitStyles.
*
* Initial styles for overwriting of default styles of different browsers for identity of view.
* Browser support: Opera 55+, Google Chrome 69+, Mozilla Firefox 62+, Microsoft Edge 42+, Internet Explorer 11+.
*
* CSS level 3.
*
* @package   InitStyles
* @author    Elena Abrazhevich <elenaabrazhevich@afoteris.com>
* @copyright 2018 Elena Abrazhevich
* @version   0.1.0-dev
*/

/*
Table of content

    General
    Typography
    Colors
*/

/*
 * ----------------------------------------------------------------
 * General
 * ----------------------------------------------------------------
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ol, ul {
    list-style: none;
}

q {
    quotes: none;
}

table {
    border-collapse: collapse;
}

/* Fix "inline" rendering of <main> in IE11. */
main {
    display: block;
}

/* Fix "inline" rendering of <details> in IE11, Edge. */
details {
    display: block;
}

/* Fix "inline" rendering of <summary> in IE11, Edge. */
summary {
    display: list-item;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */

* {
    font: inherit;
    text-decoration: none;
}

body {
    line-height: 1;
    font-size: 18px;
}

/*
 * ----------------------------------------------------------------
 * Colors
 * ----------------------------------------------------------------
 */

* {
    background: transparent;
    color: inherit;
}
